button, input, .card{
    outline: none;
    border: none;
  
}
/* header{
    background-color: white;
} */
.input{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; 
}
.input:hover, .btn1:hover,
.input:active, .btn1:active,
.input:focus, .btn1:focus{
    box-shadow: none;
    
}
.btn1{
    width: 13%;
    /* border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;  */
}
.sidebar{

    height: 100%;
    left: 0;

}
.link-dark{
    font-size: 0.75em;
}
.offcanvas{
    width: 230px;
}
.offcanvas-body .nav-link span{
    padding: 0 15px;
    vertical-align: bottom;
    white-space: nowrap;
    font-size: 13px;
}
